body {
  background: url(./forest.jpg);
  background-size: cover;
}
#clock {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#clock svg {
  width: 650px;
  height: 650px;
}

#clock svg #hour-text {
  font-family: system-ui;
  font-weight: bold;
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
}
#clock svg #minute-text {
  font-family: monospace;
  /* font-weight: 200; */
  text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000;
}

#sun {
  fill: yellow;
  filter: drop-shadow(0px 0px 0.1px #ffa500) drop-shadow(0px 0px 1px #fa0f) drop-shadow(0px 0px 1px #fa09) drop-shadow(0px 0px 1px #ff09) drop-shadow(0px 0px 1px #fff)  drop-shadow(0px 0px 2px #fff);
}

#second-ripple{
  display: none;
}
#second-ripple.active {
  display: block;
  /* opacity: 0.3; */
  stroke: #f00;
  /* filter: blur(0); */
  stroke-width: .2;
  animation: ripple 1s linear infinite;
}
@keyframes ripple {
  0% {
  }
  75% {
    stroke: #f000;
    filter: blur(.05px);
    transform: scale(8);
    stroke-width: .05;
  }
  100% {
    stroke: #f000;
    filter: blur(.05px);
    transform: scale(8);
    stroke-width: 0.05;
  }
}
