body {
  background: url(./leh.jpg);
  background-size: cover;
}
#clock {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#clock svg {
  width: 650px;
  height: 650px;
}

#clock svg #hour-text {
  font-family: system-ui;
  font-weight: bold;
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
}
#clock svg #minute-text {
  font-family: monospace;
  /* font-weight: 200; */
  text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000;
}
