.svg {
  width: 650px;
  height: 650px;
}

// svg #minute-text {
//   font-family: monospace;
//   /* font-weight: 200; */
//   text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000;
// }
// svg #minute-text text {
//   transform-box: fill-box;
//   transform-origin: 3px 3px;
// }
// svg #minute-text text.tick {
//   transform-origin: 4.5px 3px;
// }

.sun {
  fill: yellow;
  filter: drop-shadow(0px 0px 0.1px #ffa500) drop-shadow(0px 0px 1px #fa0f) drop-shadow(0px 0px 1px #fa09) drop-shadow(0px 0px 1px #fa09) drop-shadow(0px 0px 1px #ff09) drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 3px #fff);
}

.secondRipple{
  display: none;

  &.secondRippleActive {
    display: block;
    /* opacity: 0.3; */
    /* stroke: #f00; */
    /* filter: blur(0); */
    stroke-width: .2;
    animation: ripple 1s linear infinite;
  }
}

@keyframes ripple {
  0% {
  }
  75% {
    stroke: #f000;
    filter: blur(.05px);
    transform: scale(8);
    stroke-width: .05;
  }
  100% {
    stroke: #f000;
    filter: blur(.05px);
    transform: scale(8);
    stroke-width: 0.05;
  }
}
