.svg {
  width: 650px;
  height: 650px;
  font-family: system-ui;
}

// svg #minute-text {
//   font-family: monospace;
//   /* font-weight: 200; */
//   text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000;
// }
// svg #minute-text text {
//   transform-box: fill-box;
//   transform-origin: 3px 3px;
// }
// svg #minute-text text.tick {
//   transform-origin: 4.5px 3px;
// }

.secondRipple{
  display: none;

  &.secondRippleActive {
    display: block;
    /* opacity: 0.3; */
    /* stroke: #f00; */
    /* filter: blur(0); */
    stroke-width: .2;
    animation: ripple 1s linear infinite;
    opacity: 1;
  }
}

@keyframes ripple {
  0% {
  }
  75% {
    stroke: #f000;
    filter: blur(.05px);
    transform: scale(8);
    stroke-width: .05;
    opacity: .5;
  }
  100% {
    stroke: #f000;
    filter: blur(.05px);
    transform: scale(8);
    stroke-width: 0.05;
    opacity: 0;
  }
}
